<h1>{{title}}</h1>
<p>Ingrese sus datos:</p>
<br>
<form action="/datos" method="post">
    <input type="text" name="nombre" placeholder="Ingresa tu nombre">
    <input type="text" name="apellido" placeholder="Ingresa tu apellido">
    <button>Ingresar datos</button>
</form>